/* rounded images: avatars, etc */

.mail_box_single_ava .mail_box_single_ava_img, .friends_photo_img, .ui_zoom_inner, .post_img, .people_cell_img, .cell_img, .page_list_module .thumb, img.fc_contact_photo, .fans_idolph_wrap, .group_row_photo, .group_row_img, .right_list_img, .ow_ava, .top_notify_cont .feedback_img, .feedback_sticky_icon, .feedback_group_photo_img, .feedback_img, .fans_fan_img, .nim-peer .nim-peer--photo-w, .wall_module .reply_img, .feed_friend_image, .top_profile_img, .copy_post_img, .like_tt_image, .poll_tt_image, .mv_author_img, .olist_item_photo, .chat_tab_img, .mention_tt_img, .profile_career_img, .mention_tt_person_img, .page_group_image, .blog_about_link_pic, img.im_chatbox_mem_photo, .im-member-item .im-member-item--photo, .chat_tab_counter, .chat_tab_close, .nim-dialog.nim-dialog_unread .nim-dialog--unread, .nim-dialog.nim-dialog_unread.nim-dialog_prep-injected .nim-dialog--unread, .ui_ownblock_img, .bp_img, .dev_top_profile_link img, .group_box_image_wrap, .group_box_image_link, .wk_poll_usr, .ui_rmenu_count, .blst_img, .feedback_sticky_img, a.fc_msgs_img, .tickets_image__i, .page_gif_play_icon, .page_gif_progress_icon, .search_item_img, .audio_page_player .audio_page_player_play .icon, .fans_fan_bl_wrap, .fans_fan_bl, .public_help_steps_module .public_help_step_image, .post_field_user_image, .nim-peer .nim-peer--photo .im_grid > img, .nim-peer .nim-peer--photo > img {
    border-radius: 4px!important;
}
/* i luv old checkboxes <3 */

.checkbox:before {
    background: url(https://vk.com/images/icons/check.gif) 0 0 no-repeat;
    height: 14px;
}

.checkbox:hover:before {
    background-position: 0 -28px;
}

.checkbox.on:before {
    background-position: 0 -14px;
}

.checkbox.on:hover:before {
    background-position: 0 -42px;
}
/* header text shadow */

.top_audio_player, .top_profile_name {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.39);
}
/* header selected */

.top_nav_btn.active, .top_nav_link.active {
    /*background-color: #43648c;
    background: linear-gradient(to bottom, #4C6C92 0%, #5D81A7 100%);*/
    
    box-shadow: inset 0 4px 23px -2px rgba(0, 0, 0, 0.38);
    background: transparent;
}
/* new public page advices */

.public_help_steps_module .public_help_step_image {
    background-color: #ECF1F5;
}
/* SF specific */

.box_title {
    font-weight: 500!important;
}
/* hide some shit */

#ads_left, .left_settings, .mv_subscribe_block {
    display: none;
}
/* public, contact info description in left/right side of the page*/

.page_list_module .group_desc, .page_list_module .people_desc, .page_list_module .people_extra {
    font-size: 11px;
}
/* block shadow */

.dev_page_block, .page_block {
    box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
}
/* popup and friend chat header */

.box_title_wrap, .fc_tab_head {
    background: #597BA5;
}
/* search, friends icons */

.layers_shown .chat_onl:after, .chat_onl:after, .chats_sp.fc_clist_search_icon {
    background-image: url(https://i.imgur.com/C9KExBy.png);
    background-repeat: no-repeat;
    width: 12px;
}
/* friends icon in usual state */

.chat_onl:after {
    background-position: -39px -45px;
}
/* friends icon when popup opened */

.layers_shown .chat_onl:after {
    background-position: -52px -45px;
    opacity: 0.5;
    width: 11px;
}
/* search icon */

.chats_sp.fc_clist_search_icon {
    background-position: -98px 0px;
}
/* friends chat top title */

.fc_tab_title {
    padding: 4px 3px;
    font-size: 11px;
}
/* friends chat top icons */

.fc_tab_close_wrap, .fc_tab_max_wrap, .fc_tab_pin_wrap {
    margin-top: 8px;
}
/* peer name in friends chat */

.fc_contact_name {
    font-size: 11px;
}
/* bigger photos in friends chat */

img.fc_contact_photo, span.fc_contact_photo {
    width: 38px;
    height: 38px;
}
/* online indicator in friends chat */

span.fc_contact_photo:after {
    right: -1px;
    bottom: -1px;
}
/* make buttons great again! */

.button_small.flat_button {
    line-height: 13px;
}
/* popup title */

.box_title {
    font-size: 13px;
    font-weight: bold;
}
/* left menu plus */

span.inl_bl.left_count:before {
    content: '+';
}
/* make top logo great again! */
/* small and cool play buttons */

.audio_play {
    border-radius: 3px;
    width: 22px;
    height: 22px;
    background: #577ca1 url(https://vk.com/images/icons/audio_playpause.png) no-repeat 7px 6px;
}
/* pause button */

.audio_play.playing, .audio_row_playing .audio_play {
    background-position: 7px -16px;
}
/* Fixes the position of track name and lyrics link */

.audio_row .audio_info {
    padding-top: 4px;
}
/* tooltip in lang select */

.lang_box_row_label, .lang_column, .tt_w {
    font-size: 11px;
}
/* header bg */

#page_header_cont .back, #dev_top_nav_wrap {
    background: linear-gradient(to bottom, #5D81A7 0%, #4C6C92 100%);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.18);
    border-bottom: 1px solid #456184;
}
/* search input in the header */

input.text.ts_input, body.dev input.dev_top_input {
    background-color: #49688C;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, 0.1);
    border-left: 0;
    background-position: 8px 8px;
    padding: 10px 6px 10px 28px;
}

.input_back_wrap {
    top: -4px;
}
/* header items hover */

.dev_home_link:hover, .dev_top_link:hover, .top_audio_player:hover, .top_nav_link:hover {
    background-color: rgb(78, 110, 148);
}
/* left for profile header photo */

.top_profile_img {
    float: left;
    margin-right: 10px;
}
/* fix for profile name */

.top_profile_name {
    padding-right: 2px;
}
/* move arrow a little bit */

.top_profile_arrow {
    margin: 20px 8px 0 6px;
}
/* color for away header */

.away_content h2 {
    color: #45668E;
}
/* New stuff 8/23 */

.top_nav_btn .top_nav_btn_icon, .top_audio_player .top_audio_player_btn .top_audio_player_btn_icon, .top_home_link .top_home_logo, .dev_home_link:before {
    background-image: url(https://i.imgur.com/Bq60Psi.png);
}

.top_home_link .top_home_logo, .dev_home_link:before {
    background-position: 0 0;
}

#side_bar .left_icon {
    background: url(https://i.imgur.com/58bQxow.png) no-repeat 7px -441px;
    opacity: 0.55;
}

#side_bar .more_div, #ads_left.ads_left_empty+.left_menu_nav_wrap {
    box-shadow: inset 0px 1px 0 0px rgba(255, 255, 255, 0.35);
}

.video_item .video_item_thumb_wrap {
    background-image: url(https://vk.com/images/video_uploading_placeholder.png);
}

#side_bar {
    text-shadow: 0 1px 0 #ffffff;
}

.blog_about_link_pic {
    background: linear-gradient(to bottom, #5c80a6 0%, #4d6d93 100%);
}

.blog_about_link_pic_other {
    background: linear-gradient(to bottom, rgb(228, 234, 241) 0%, rgb(208, 217, 224) 100%);
}

.left_menu_nav_wrap:after {
    content: 'you\'re using a style by trall1488';
    display: block;
    color: #939699;
    opacity: 0.5;
    margin-top: 20px;
}
/* EMOJIS */

.emoji_block_rel {
    top: 36px;
}

.emoji_tabs {
    background: linear-gradient(to bottom, #ffffff, #f3f3f3);
    top: 0;
    border-radius: 4px 4px 0 0;
    position: absolute;
    width: 100%;
}

.emoji_tabs_l_s, .emoji_tabs_r_s {
    background: linear-gradient(to bottom, #ffffff, #f3f3f3);
}

.emoji_tab_sel, .emoji_tab_sel:hover, .emoji_tab:hover {
    background: #838790;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.35);
    -webkit-filter: grayscale(85%);
}

.emoji_tab:hover .emoji_tab_img, .emoji_tab_sel .emoji_tab_img {
    -webkit-filter: grayscale(85%);
}

.emoji_tab_sel .emoji_tab_icon_0, .emoji_tab_sel .emoji_tab_icon_recent, .emoji_tab.emoji_tab:hover .emoji_tab_icon_0, .emoji_tab.emoji_tab:hover .emoji_tab_icon_recent {
    -webkit-filter: brightness(400%);
}

.emoji_tabs_l_sc, .emoji_tabs_r_sc {
    background: none;
}

.emoji_block_cont {
    position: relative;
}
